#me {
    height: 200px;
    width: 200px;
}

#email {
font-size: 50px;
}

#phone {
    font-size: 50px;
}

#globe {
    font-size: 50px;
}

#insta {
    font-size: 50px;
}

#twitter{
    font-size: 50px;
}

#github{
    font-size: 50px;
}

#name {
    font-family: 'Ubuntu', sans-serif;
}